@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
}
body{
  background-color: #d0e6e9	;	
}
.MuiBox-root{
  background-color: #fff;
}

.css-vs7y7i-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  color:white !important;
}